.main-menu {
    min-height: 100vh;

    .list-menu {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        display: grid;
        gap: 1em;
        justify-items: center;

        .list-item {
            width: 10em;
            text-align: center;
        }
    }

    .status-bar {
        text-align: center;
    }
}

.list-btn {
    width: 100%;
}

